.error {
    color: red;
}

.user-profile {
    border: 1px solid black;
    margin: 1%;
    text-align: center;
    width: auto;
    background: lightseagreen;
}

.how-to-card{
    border: 1px solid black;
    margin: 2%;
    width: auto;
    background-color: lightsalmon;
}