.error {
    color: red;
}

.user-profile {
    border: 1px solid black;
    margin: 10% 0;
    text-align: center;
    width: auto;
    background: lightseagreen;
    width: 100%;
    border-radius: 5%;
}

// .how-to-card{
//     border: 1px solid black;
//     margin: 2%;
//     width: auto;
//     background-color: lightsalmon;
// }