.error {
    color: red;
}

.user-profile {
    border: 1px solid black;
    margin: 10% 0;
    text-align: center;
    width: auto;
    background: lightseagreen;
    width: 100%;
    border-radius: 5%;
}

.how-to-card{
    border-radius: 3%;
    box-shadow: 2px 2px 10px lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5% 25%;
    padding: 2% 0%;
    width: auto;
    background-color: #EDF4F5;
    color:black;
}

#dashh1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 1.5em;
    padding: 1% 0;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 1.5em;
}

h3 {
    text-transform: capitalize;
    font-style: italic;
}

#linksDash {
    text-decoration: none;
}
